body {
    
    background: rgba(156, 39, 176, 0.16); 
    font-family: arial;

}
main{
    width: 480px;
    margin: auto;
    border-style: solid;
   
}
footer > P {
   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;

}
